@charset "UTF-8";

/* ------------------ 전체적인 틀 영역입니다 ------------------  */
* {padding:0; margin:0;}
ol, ul, li {list-style-type: none;}
a {text-decoration: none; color:black; outline:none;}
body {background-color: white; font-family: 'Nanum Gothic', sans-serif;}
img {vertical-align:top; border:0;}
fieldset {border:none;}
button {border: none;}


/*  ------------------ float를 정리해주는 요소입니다 ------------------  */
.clear_box {
    clear:both;
}

h1 {
    color:gray;
}

form {
	border: 1px solid  #e8e8e8;
	padding: 10px;
	margin:10px;
}

/* ------------------  header 영역입니다. ------------------  */
header {
    height:auto;
    border-bottom:1px solid #e8e8e8;
    background-color:white;
}

.top_left_box {
    float:left;
}

.go_main {
    float:left;
    margin: 30px 30px;
}

div#headerWrap {
    width:1100px;
    height:100%;
    position:relative;
    text-align:center;
    margin: 0 auto;
}

.top_menu_box {

    float: left;
    margin: 30px;
}

.menu_list {
    float: left;
    margin: 10px 10px;
}

.user_box {
    float:right;
}

.user_box {
    float:right;
}

.user_list {
    float:right;
    margin: 30px 30px;
}

/* ------------------  main section 공통 영역입니다. ------------------  */

.main_holder {
	width:1100px;
    height:100%;
    position:relative;
    text-align:center;
    margin: 0 auto;
}

/* ------------------  footer 영역입니다. ------------------  */

footer {
	height:auto;
    border-top:1px solid #e8e8e8;
}

div#footerWrap {
	width:1100px;
    height:100%;
    position:relative;
    text-align:center;
    margin: 0 auto;
}

/*  임시 수정해야함    */

.page_item {
	float : left;
}

#nowPage {
	background : yellow;
}

.disable_check {
	background : gray;
}

.main_table_holder {
	float: left;
	margin : 30px 30px;
}