@charset "UTF-8";

/* 페이지 h1 부분입니다.*/
h1 {
    padding : 50px;
    font-size: 22px;
}

/* form 박스를 감싸는 holder를 정의합니다.*/
.form_holder {
    width : 500px;
	height:auto;
    margin: 0 auto;
    box-sizing : border-box;
    border : 1px solid gray;
    position : relative;
}

.login_fail_box {
    box-sizing : border-box;
    border : 1px solid  rgb(253, 239, 215);
    background-color: rgb(255, 250, 242);
    margin : 20px;
}

.login_fail_box > h3 {
    padding : 20px;
}

.login_fail_box > p {
    margin : 10px 0;
}

.login_box {
    text-align: left;
    margin : 20px;
    box-sizing : border-box;
}

#loginIdLabel {
    font-size: 14px;
}

/* 로그인과 비밀번호 input을 꾸며줍니다. */
#loginId {
	height: 20px;
    width: 200px;
}

#loginPw {
	height: 20px;
    width: 200px;
}

.login_errors {
    padding: 10px 0 10px 84px;
}

/*로그인과 회원가입 버튼을 감싸고 있는 holder입니다.*/
.button_box {
	position: relative;
    height: 50px;
}

/* 로그인 버튼을 꾸며줍니다. */
#loginButton{
    background-color: white;
    font-size : 16px;
    border : 1px solid gainsboro;
    padding: 5px;
    background-color: rgb(255, 250, 242);
    position :absolute;
	right: 0px;
    bottom: 0px;
}

#loginButton:hover {
	color:red;
	font-size:700;
}


.login_join_button {
    background-color: white;
    font-size : 16px;
    border : 1px solid gainsboro;
    padding: 5px;
    background-color: rgb(255, 250, 242);
    position: absolute;
    right: 68px;
    bottom: 0px;
}

.login_join_button >a:hover {
	color:red;
	font-size:700;
}
